.tab-user-card {
  .nav-pills {
    background: #ecf0f5;
    padding: 20px;
    border-radius: 5px;
  }
}

.dataTables_wrapper .dataTables_paginate .paginate_button.active{
  background: $primary-color;
  border-color: $primary-color;
}
thead {
  tr{
    th{
    font-size: 14px  !important;
    background: #066DB2 !important;
    border-top: 0 !important;
    border-bottom: 1px solid #e2e5e8 !important;
    color: #fff !important;
    text-transform: uppercase !important;
    text-align: center !important;
    }
  }
}
tbody{
  font-size: 12px;
}

/*
div < #btnEdit{
  height: 20px;
}

*/
.btn-page{
  height: 20px  !important;
}


  #btnEdit{
    width: 30px !important;
    height: 30px !important;
  }
  #btnDel{
    width: 30px !important;
    height: 30px !important;
  }
  .email-card{
    margin-bottom: -20px;
  }
